.container-perfil-menu{
    display: flex;
}

.container-perfil-menu Menu{
    height: 500px;
    width: 20%;
}

.container-perfil-menu .perfil{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.formulario-perfil{
    background-color: #a9a9a933;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    gap: 30px;
    width: 90%;
    min-width: 90%;
    height: 95%;
    padding: 20px;
}

.formulario-perfil h1{
    color: white;
}

.formulario-perfil hr{
    width: 400px;
}
.um-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.email{
    display: flex; 
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.email label{
    font-size: 18px;
    color: white;
}

.email input{
    background-color: white;
    border: white 1px solid;
    border-radius: 20px;
    outline: none;
    padding: 10px 10px 10px 0px;
    width: 620px;
    font-size: 16px;
    padding: 10px;
}

.dois-inputs{
    display: flex;
    min-width: 100px;
    gap: 20px;
}

.container-input-label{
    display: flex; 
    flex-direction: column;
    gap: 5px;
    width: 50%;
}

.container-input-label label{
    font-size: 18px;
    color: white;
}

.container-input-label input{
   
        background-color: white;
        border: white 1px solid;
        border-radius: 20px;
        outline: none;
        padding: 10px 10px 10px 0px;
        width: 300px;
        font-size: 16px;
        padding: 10px;
      
    
}

.botao-alterar-perfil{
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    width: 150px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: rgb(0, 0, 0);
    box-shadow: 0px 8px 15px rgba(205, 1, 1, 0.1);
    transition: all 0.3s ease 0s;
}

.botao-alterar-perfil:hover{
    background-color: #4044ED;
    box-shadow: 0px 15px 20px #6b6de3;
    color: #fff;
    transform: translateY(-7px);
}